

#box{
    width: 130px;
    height: 130px;
    /* background-color: rgb(233, 12, 12); */
    
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;

    border-bottom-left-radius: 0%;
    border-top-left-radius: 0%;
    border: 1px solid black;    
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield;
}

textarea{
    position: absolute;
    top: 10px;
    left: 20%;
    right: 0%;
}